<header class="unselectable">
	<div class="header-top-half dark-navy-blue">
		<div class="row">
			<div class="small-3 columns">
				<%= link_to(home_path) do %>
					<%= image_tag("a&m-logo.png", class: 'am-logo unselectable darken-on-hover') %>
				<% end %>
			</div>
			<div class="small-6 columns">
				<div class="item-search-wrapper row">
					<%= form_tag(browse_path, :method => "get", id: "search-form") do %>
							<!-- Keep the sort param -->
							<%= hidden_field_tag :sort, params[:sort] %>
							<div class="small-10 columns">
								<!-- text field tag=action,args,identifier,placeholdertext... -->
								<%= text_field_tag :term, params[:term], class: "form-field", placeholder: "Search for an item...", type: "search", data: {autocomplete: items_autocomplete_item_name_path } %>
							</div>
							<div class="small-2 columns" style="height: 37px;">
								<%= button_tag(type: 'submit', class: 'gold-button nav-search-button') do %>
									<%= image_tag("icons/search-navy-blue", class: 'nav-search-icon') %>
								<% end %>
							</div>
					<% end %>

					<script type="text/javascript" charset="utf-8">
						$('#term').bind('railsAutocomplete.select', function(event, data){
							window.location.replace("/details?id=" + data.item.id);
						});
					</script>
				</div>
			</div>
			<div class="small-3 columns">
				<div id="log" class="row" style="text-align: right;">
					<% if logged_in? %>
						<%= link_to 'Logout', logout_path %>
					<% else %>
						<%= link_to 'Login', login_path %>
					<% end %>
				</div>
				<div class="row">
					<% if logged_in? %>
						Hello, <%= current_user.proper_name %><br/>
						<div style="">
							Dashboard
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="header-bottom-half navy-blue-black">
		<div class="row" >
			<div class="small-8 columns">
				<%= link_to 'Boards', browse_path(category: "boards"), class: "nav-item-link"  %>
				<%= link_to 'Pieces', browse_path(category: "pieces"), class: "nav-item-link" %>
				<%= link_to 'Clocks', browse_path(category: "clocks"), class: "nav-item-link" %>
				<%= link_to 'Supplies', browse_path(category: "supplies"), class: "nav-item-link" %>
			</div>
			<div class="small-4 columns">

			</div>
		</div>
	</div>
</header>

