<header class="unselectable">
	<div class="header-top-half dark-navy-blue">
		<div class="row">
			<div class="small-3 columns">
				<%= link_to(home_path) do %>
					<%= image_tag("a&m-logo.png", class: 'am-logo unselectable darken-on-hover') %>
				<% end %>
			</div>
			<div class="small-6 columns">
				<div class="item-search-wrapper row">
					<%= form_tag(browse_path, :method => "get", id: "search-form") do %>
							<!-- Keep the sort param -->
							<%= hidden_field_tag :sort, params[:sort] %>
							<%= hidden_field_tag :perpage, params[:perpage] %>
							<%= hidden_field_tag :perrow, params[:perrow] %>
							<div class="small-10 columns">
								<!-- text field tag=action,args,identifier,placeholdertext... -->
								<%= text_field_tag :term, params[:term], class: "form-field", placeholder: "Search for an item...", type: "search", data: {autocomplete: items_autocomplete_item_name_path } %>
							</div>
							<div class="small-2 columns" style="height: 37px;">
								<%= button_tag(type: 'submit', class: 'gold-button nav-search-button') do %>
									<%= image_tag("icons/search-navy-blue.png", class: 'nav-search-icon') %>
								<% end %>
							</div>
					<% end %>

					<script type="text/javascript" charset="utf-8">
						$('#term').bind('railsAutocomplete.select', function(event, data){
							window.location.replace("/details?id=" + data.item.id);
						});
					</script>
				</div>
			</div>
			<div class="small-3 columns" style="position: relative; right: 45px;">
				<div id="log" class="row" style="text-align: right; position: relative; bottom: 10px;">
					<% if logged_in? %>
						Hello, <%= current_user.proper_name %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Logout', logout_path %>
					<% else %>
						<%= link_to 'Login/Register', login_path %>
					<% end %>
				</div>
				<!-- Account button and Cart -->
				<% if logged_in? %>
					<div class="row" style="position: relative; top: 5px; left: 92px;">
						<div class="small-6 columns" style="position: relative; left: 60px;">
							<%= link_to user_dashboard_path, class: "darken-on-hover" do %>
								<%= image_tag("icons/user-white.png", class: "user-action user") %>
							<% end %>
						</div>
						<div class="small-6 columns">
							<%= link_to cart_path, class: "darken-on-hover", id: "cart-link" do %>
								<%= image_tag("icons/shopping-bag-white.png", class: "user-action cart") %>
								<span class="cart-count"><%= cart_count %></span>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="navy-blue-black">
		<div class="row" >
				<ul class="dropdown menu" data-dropdown-menu>
					<li>
						<%= link_to 'Boards', browse_path(category: "boards"), class: "nav-item-link nav-item"  %>
					</li>
					<li>
						<%= link_to 'Pieces', browse_path(category: "pieces"), class: "nav-item-link nav-item" %>
					</li>
					<li>
						<%= link_to 'Clocks', browse_path(category: "clocks"), class: "nav-item-link nav-item" %>
					</li>
					<li>
						<%= link_to 'Supplies', browse_path(category: "supplies"), class: "nav-item-link nav-item" %>
					</li>
					<% if current_user != nil and current_user.role != "customer" %>
						<li class="employee-action">
							<%= link_to 'Items', items_path(), class: "nav-item-link nav-item" %>
							<ul class="menu">
								<li>
									<%= link_to 'Items List', items_path(), class: "nav-item-link nav-item" %>
								</li>
								<% if can?(:read, ItemPrice) || can?(:read, Purchase) %>
								<li>
									<%= link_to 'Prices', item_prices_path(), class: "nav-item-link nav-item" %>
								</li>
								<li>
									<%= link_to 'Purchases', purchases_path(), class: "nav-item-link nav-item" %>
								</li>
								<% end %>
							</ul>
						</li>
						<% if current_user.role == "manager" || current_user.role == "admin" %>
						<li class="employee-action">
							<%= link_to 'Users', users_path(), class: "nav-item-link nav-item" %>
							<ul class="menu">
								<li>
									<%= link_to 'Customers', users_customers_path(), class: "nav-item-link nav-item" %>
								</li>
								<li>
									<%= link_to 'Employees', users_employees_path(), class: "nav-item-link nav-item" %>
								</li>
							</ul>
						</li>
						<% end %>
						<li class="employee-action"><%= link_to 'Schools', schools_path, class: "nav-item-link nav-item" %>
							<ul class="menu">
								<li>
									<%= link_to 'Schools List', schools_path, class: "nav-item-link nav-item" %>
								</li>
								<li>
									<%= link_to 'Add School', new_school_path, class: "nav-item-link nav-item" %>
								</li>
							</ul>
						</li>
						<li class="employee-action"><%= link_to 'Orders', nil, class: "nav-item-link nav-item" %>
							<ul class="menu">
								<li>
									<%= link_to 'Your Orders', orders_list_path, class: "nav-item-link nav-item" %>
								</li>
								<% if can? :unshipped, Order %>
								<li>
									<%= link_to 'Unshipped', orders_unshipped_path, class: "nav-item-link nav-item" %>
								</li>
								<% end %>
								<% if current_user.role == "manager" || current_user.role == "admin" %>
								<li>
									<%= link_to 'Orders List', orders_path, class: "nav-item-link nav-item" %>
								</li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
				
		</div>
	</div>

	<!-- Employee Navigation -->
	<% if logged_in? %>
		<% if current_user.role == "admin" %>

		<% elsif current_user.role == "manager" %>

		<% elsif current_user.role == "shipper" %>

		<% end %>
	<% end %>
		
</header>

