<div class="small-8 small-offset-2">
<h5 style="margin-bottom: 15px;">New Price</h5>
<%= simple_form_for @item_price, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <%= f.input :item_id, collection: Item.active.to_a, include_blank: true %>
    <%= f.input :price, label: 'New Price' %>
    Category
    <%= f.select :category, ['wholesale', 'manufacturer'] %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'gold-button radius' %>
      <%= link_to 'Cancel', item_prices_path, :class => 'grey-button alert radius' %>
    </div>
<% end %>
</div>