<% if !logged_in? || current_user.role == 'customer' %>
	<%= render 'customer_home_page' %>
<% elsif current_user.role == 'admin' %>
	<%= render :partial => 'reorder_list' %>
<% elsif current_user.role == 'manager' %>
	<%= render :partial => 'reorder_list' %>
<% elsif current_user.role == 'shipper' %>
	<div class="large-basic-container">
		<h4 style="margin-bottom: 20px;">
			Unshipped Orders
		</h4>
		<%= render 'orders/detailed_order_list' %>
	</div>
<% end %>

<% if flash[:welcome] %>
	<div class="reveal" id="welcome" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
		<h3>Welcome to the A&M Chess Store!</h3>
		<h4>Get Started</h4>
		<ul>
			<li><%= link_to 'Create a school for shipping', new_school_path %></li>
			<li><%= link_to 'Start browsing items', browse_path %></li>
			<li><%= link_to 'Show me the User Action Center', user_dashboard_path %></li>
		</ul>
		<button class="close-button" data-close aria-label="Close reveal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<script>
		$('#welcome').ready(function() {
			$('#welcome').foundation('open');
		});
	</script>
<% end %>