<%= form_tag(browse_path, :method => "get", id: "search-form") do %>
	<!-- text field tag=action,args,identifier,placeholdertext... -->
	<%= text_field_tag :term, params[:term], class: "form-field", placeholder: "Search for an item...", type: "search", data: {autocomplete: items_autocomplete_item_name_path } %>  
	<%= submit_tag "Search" %>
<% end %>

<script type="text/javascript" charset="utf-8">
	$('#term').bind('railsAutocomplete.select', function(event, data){
		window.location.replace("/items/" + data.item.id);
	});
</script>

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- options for items -->
        <li class="has-dropdown">
          <%= link_to "Items", items_path %>
          <ul class="dropdown">
            <li><%= link_to "Item List", items_path %></li>
            <li><%= link_to "Reorder List", home_path %></li>
            <li><%= link_to "Add an Item", new_item_path %></li>
          </ul>
        </li>

        <!-- options for purchases -->
        <li>
          <%= link_to "Purchases", purchases_path %>
        </li>

        <!-- options for prices -->
        <li>
          <%= link_to "Prices", item_prices_path %>
        </li>
      </ul>

    </section>
  </nav>
</div>